@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0ea5e9;
  --secondary-color: #64748b;
  --bg-color: #f8fafc;
  --text-color: #334155;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
